<h1>Sign up </h1>

<form method="post" action="/signup">
  <input type="text" name="username" placeholder="Username">
  <input type="email" name="email" placeholder="Email" >
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Submit" class=".btn-success">
</form>

