<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/application.css">
  <link rel="stylesheet" href="/stylesheets/vender_css/bootstrap.css"
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

 <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"> -->

  <!-- Optional theme -->
<!--   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
 -->
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  <title></title>
</head>

<body class="<%= @current_page %>">
  <% if current_user %>
    <%= @current_user.username %>
    <% end %>
  <div class="container">
    <%= yield %>
  </div>

  <script src="http://code.jquery.com/jquery.min.js"></script>
  <script src="javascript/vender_js/bootstrap.min.js"></script>
  <script src="javascript/vender_js/nps.js"></script>
</body>
</html>
