<div class="wrapper">
  <div class="login-wrapper">
    <div id="login">
      <h1> Login </h1>

      <form method="post" action="/login">
        <span class="fontawesome-envelope"></span><input type="email" name="email" placeholder="Email" >
        <span class="fontawesome-lock"></span><input type="password" name="password" placeholder="Password">
        <input type="submit" value="Submit">
      </form>

      <a href="/"> Or Signup </a>

    </div>
  </div>
</div>